*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  background-color: #ffff;
  color: rgb(70, 66, 66);
  font-family: Arial, Lato, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    margin: 0 auto 0 auto;
}